  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(0, 102, 150);
  }

  dt::after {
    content: ":";
  }

  dd {
    margin-left: 110px;
    padding: 0 0 0.5rem 0;
  }

  .currency .label {
    color: green;
    font-weight: normal;
    width: 50px;
  }